In [381]:
#Import dependencies
import pandas as pd
from pathlib import Path

#import chardet

In [382]:
#Reference to world_bank_data file
csv_path = Path("Resources/world_bank_data.csv")

#with open("Resources/world_bank_data.csv", "rb") as file:
#result = chardet.detect(file.read())
#print(result)

In [383]:
# Import the World Bank GDP file.csv file as a DataFrame
world_bank_df = pd.read_csv(csv_path, encoding='windows-1252')
world_bank_df

,Country Name,Region Code,Country Code,"GDP, PPP (current international $)","Population, total",Population CGR 1960-2015,Internet users (per 100 people),Popltn Largest City % of Urban Pop,"2014 Life expectancy at birth, total (years)","Literacy rate, adult female (% of females ages 15 and above)",Exports of goods and services (% of GDP)
0,Aruba,MA,ABW,NaN,"103,889",1.19%,88.7,NaN,75.5,97.513962,NaN
1,Andorra,EU,AND,NaN,"70,473",3.06%,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
3,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
4,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050
...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",ME,YEM,NaN,"26,832,215",3.04%,25.1,31.9%,63.8,54.850632,NaN
260,South Africa,AF,ZAF,"723,515,991,686","54,956,920",2.11%,51.9,26.4%,57.2,93.428932,0.308972
261,"Congo, Dem. Rep.",AF,COD,"60,482,256,092","77,266,814",2.99%,3.8,35.3%,58.7,65.897346,0.294904
262,Zambia,AF,ZMB,"62,458,409,612","16,211,767",3.08%,21.0,32.9%,60.0,80.566971,NaN
263,Zimbabwe,AF,ZWE,"27,984,877,195","15,602,751",2.62%,16.4,29.7%,57.5,85.285133,0.262450

In [384]:
#List of columns
world_bank_df.columns

Index(['Country Name', 'Region Code', 'Country Code',
       'GDP, PPP (current international $)', ' Population, total ',
       'Population CGR 1960-2015', 'Internet users (per 100 people)',
       'Popltn Largest City % of Urban Pop',
       '2014 Life expectancy at birth, total (years)',
       'Literacy rate, adult female (% of females ages 15 and above)',
       'Exports of goods and services (% of GDP)'],
      dtype='object')

In [385]:
# Delete column

#del world_bank_df[""]
#dworld_bank_df.head()

In [386]:
#Rename columns 
#world_bank_df.columns = world_bank_df.columns.str[0]
world_bank_df = world_bank_df.rename(columns={"GDP, PPP (current international $)":"GDP ($)",
                                              " Population, total ":"Population Total",
                                              "Internet users (per 100 people)":"Internet Users per 100",
                                              "Popltn Largest City % of Urban Pop":"Pop. Largest City (%)",
                                              "2014 Life expectancy at birth, total (years)":"Life Expectancy",
                                              "Literacy rate, adult female (% of females ages 15 and above)":"Female Literacy Rate (%)",
                                              "Exports of goods and services (% of GDP)":"Exportation (% of GDP)"
                                              })

world_bank_df

,Country Name,Region Code,Country Code,GDP ($),Population Total,Population CGR 1960-2015,Internet Users per 100,Pop. Largest City (%),Life Expectancy,Female Literacy Rate (%),Exportation (% of GDP)
0,Aruba,MA,ABW,NaN,"103,889",1.19%,88.7,NaN,75.5,97.513962,NaN
1,Andorra,EU,AND,NaN,"70,473",3.06%,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
3,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
4,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050
...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",ME,YEM,NaN,"26,832,215",3.04%,25.1,31.9%,63.8,54.850632,NaN
260,South Africa,AF,ZAF,"723,515,991,686","54,956,920",2.11%,51.9,26.4%,57.2,93.428932,0.308972
261,"Congo, Dem. Rep.",AF,COD,"60,482,256,092","77,266,814",2.99%,3.8,35.3%,58.7,65.897346,0.294904
262,Zambia,AF,ZMB,"62,458,409,612","16,211,767",3.08%,21.0,32.9%,60.0,80.566971,NaN
263,Zimbabwe,AF,ZWE,"27,984,877,195","15,602,751",2.62%,16.4,29.7%,57.5,85.285133,0.262450

In [387]:
#Find world_bank_df data types

world_bank_df.dtypes

Country Name                 object
Region Code                  object
Country Code                 object
GDP ($)                      object
Population Total             object
Population CGR 1960-2015     object
Internet Users per 100      float64
Pop. Largest City (%)        object
Life Expectancy             float64
Female Literacy Rate (%)    float64
Exportation (% of GDP)      float64
dtype: object

In [388]:
#Remove Not Classified row
world_bank_df = world_bank_df.drop(index=107).reset_index(drop=True)
world_bank_df.head(110)

,Country Name,Region Code,Country Code,GDP ($),Population Total,Population CGR 1960-2015,Internet Users per 100,Pop. Largest City (%),Life Expectancy,Female Literacy Rate (%),Exportation (% of GDP)
0,Aruba,MA,ABW,NaN,"103,889",1.19%,88.7,NaN,75.5,97.513962,NaN
1,Andorra,EU,AND,NaN,"70,473",3.06%,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,"62,912,669,167","32,526,562",2.36%,8.3,53.4%,60.4,23.873850,0.073278
3,Angola,AF,AGO,"184,437,662,368","25,021,974",2.87%,12.4,50.0%,52.3,60.744801,0.373074
4,Albania,EU,ALB,"32,663,238,936","2,889,167",1.07%,63.3,27.3%,77.8,96.769691,0.271050
...,...,...,...,...,...,...,...,...,...,...,...
105,Isle of Man,EU,IMN,NaN,"87,780",1.09%,NaN,NaN,NaN,NaN,NaN
106,India,SS,IND,"7,982,527,568,328","1,311,050,527",1.96%,26.0,6.0%,68.0,62.984718,NaN
107,Ireland,EU,IRL,"253,634,826,262","4,640,703",0.90%,80.1,39.8%,81.2,NaN,1.214190
108,"Iran, Islamic Rep.",ME,IRN,NaN,"79,109,272",2.36%,44.1,14.5%,75.4,83.181892,NaN
109,Iraq,ME,IRQ,"542,519,589,883","36,423,395",2.97%,17.2,26.3%,69.4,73.830757,0.284953

In [389]:
#Remove commas, space, %
world_bank_df['GDP ($)'] = (
    world_bank_df['GDP ($)']
    .str.replace(',', '', regex=False)
    .str.strip())

world_bank_df['Population Total'] = (
    world_bank_df['Population Total']
    .str.replace(',', '', regex=False)
    .str.strip())

world_bank_df['Population CGR 1960-2015'] = (
    world_bank_df['Population CGR 1960-2015']
    .str.replace('%', '', regex=False)
    .str.strip())


world_bank_df['Pop. Largest City (%)'] = (
    world_bank_df['Pop. Largest City (%)']
    .str.replace('%','', regex=False)
    .str.strip())

world_bank_df

,Country Name,Region Code,Country Code,GDP ($),Population Total,Population CGR 1960-2015,Internet Users per 100,Pop. Largest City (%),Life Expectancy,Female Literacy Rate (%),Exportation (% of GDP)
0,Aruba,MA,ABW,NaN,103889,1.19,88.7,NaN,75.5,97.513962,NaN
1,Andorra,EU,AND,NaN,70473,3.06,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,62912669167,32526562,2.36,8.3,53.4,60.4,23.873850,0.073278
3,Angola,AF,AGO,184437662368,25021974,2.87,12.4,50.0,52.3,60.744801,0.373074
4,Albania,EU,ALB,32663238936,2889167,1.07,63.3,27.3,77.8,96.769691,0.271050
...,...,...,...,...,...,...,...,...,...,...,...
258,"Yemen, Rep.",ME,YEM,NaN,26832215,3.04,25.1,31.9,63.8,54.850632,NaN
259,South Africa,AF,ZAF,723515991686,54956920,2.11,51.9,26.4,57.2,93.428932,0.308972
260,"Congo, Dem. Rep.",AF,COD,60482256092,77266814,2.99,3.8,35.3,58.7,65.897346,0.294904
261,Zambia,AF,ZMB,62458409612,16211767,3.08,21.0,32.9,60.0,80.566971,NaN
262,Zimbabwe,AF,ZWE,27984877195,15602751,2.62,16.4,29.7,57.5,85.285133,0.262450

In [390]:
# Use df.astype() method to convert the datatype of the Zip column
world_bank_df = world_bank_df.astype({"GDP ($)": float}, errors='raise')
world_bank_df = world_bank_df.astype({"Population Total": float}, errors='raise')
world_bank_df = world_bank_df.astype({"Population CGR 1960-2015": float}, errors='raise')
world_bank_df = world_bank_df.astype({"Pop. Largest City (%)": float}, errors='raise')

# Verify that the column datatype has been changed
world_bank_df
#world_bank_df.dtypes

,Country Name,Region Code,Country Code,GDP ($),Population Total,Population CGR 1960-2015,Internet Users per 100,Pop. Largest City (%),Life Expectancy,Female Literacy Rate (%),Exportation (% of GDP)
0,Aruba,MA,ABW,NaN,103889.0,1.19,88.7,NaN,75.5,97.513962,NaN
1,Andorra,EU,AND,NaN,70473.0,3.06,96.9,NaN,NaN,NaN,NaN
2,Afghanistan,ME,AFG,6.291267e+10,32526562.0,2.36,8.3,53.4,60.4,23.873850,0.073278
3,Angola,AF,AGO,1.844377e+11,25021974.0,2.87,12.4,50.0,52.3,60.744801,0.373074
4,Albania,EU,ALB,3.266324e+10,2889167.0,1.07,63.3,27.3,77.8,96.769691,0.271050
...,...,...,...,...,...,...,...,...,...,...,...
258,"Yemen, Rep.",ME,YEM,NaN,26832215.0,3.04,25.1,31.9,63.8,54.850632,NaN
259,South Africa,AF,ZAF,7.235160e+11,54956920.0,2.11,51.9,26.4,57.2,93.428932,0.308972
260,"Congo, Dem. Rep.",AF,COD,6.048226e+10,77266814.0,2.99,3.8,35.3,58.7,65.897346,0.294904
261,Zambia,AF,ZMB,6.245841e+10,16211767.0,3.08,21.0,32.9,60.0,80.566971,NaN
262,Zimbabwe,AF,ZWE,2.798488e+10,15602751.0,2.62,16.4,29.7,57.5,85.285133,0.262450

In [391]:
#Identify incomplete rows

world_bank_df.count()

Country Name                263
Region Code                 210
Country Code                263
GDP ($)                     214
Population Total            262
Population CGR 1960-2015    258
Internet Users per 100      248
Pop. Largest City (%)       192
Life Expectancy             245
Female Literacy Rate (%)    156
Exportation (% of GDP)      180
dtype: int64

In [392]:
#Drop all rows with missing information

#world_bank_df = cleaning_df.dropna(how="any")